<!doctype html>
<html lang="en">
    <head>
    <!-- datatables css -->
    <link href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.css">
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
    <!-- leaflet js -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
    <!-- leaflet heatmap js -->
    <script src="{{ url_for('static', filename='leaflet-heat.js') }}"></script>
    <!-- jquery -->
    <script type="text/javascript" src="https://www.unpkg.com/jquery@3.6.3/dist/jquery.min.js"></script>
    <!-- datatables js -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
    </head>
    <body>
        <nav>
            <a href="https://first-news-app-umd.readthedocs.org/">
                <img src="{{ url_for('static', filename='shell.png') }}">
            </a>
        </nav>
        <header>
            <h1>The Toll of Substance Use Disorder: Tracking Baltimore's 911 Overdose Calls</h1>
                <div class="byline">
                    By <a href="https://first-news-app-umd.readthedocs.org/">The First News App Tutorial</a>
                </div>
            </header>

            <p>intro text</p>
            <p>resources</p>
            <ul>
                <li>#</li>
                <li>#</li>
                <li>#</li>
            </ul>

            <div id="map" style="width:100%; height:400px;"></div>
            <table border=1 cellpadding=7 id="table_id" class="display">
                <thead>
                <tr>
                    <th>Call Number</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Neighborhood</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                <tr>
                    <td><a href="{{ obj.callNumber }}/">{{ obj.callNumber }}</a></td>
                    <td>{{ obj.date }}</td>
                    <td>{{ obj.time }}</td>
                    <td>{{ obj.location }}</td>
                    <td>{{ obj.Neighborhood }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        <script>
        var map = L.map('map').setView([39.3, -76.5], 11);
        var osmLayer = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Data, imagery and map information provided by <a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>.'
        });
        map.addLayer(osmLayer);
        var data = [
            {% for obj in object_list %}
                L.latLng({{ obj.lat }}, {{ obj.lng }})
            {% if not loop.last %},{% endif %}
            {% endfor %}
          ];
        var heat = L.heatLayer(data, {radius: 25}).addTo(map);
        </script>
        <script>$(document).ready( function () {
            $('#table_id').DataTable();
        } );</script>
    </body>
</html>